<section class="signup-form">
  <h1>Sign Up For Free</h1>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Your email..."
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput.hasError('required')">Field cannot be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Please provide a valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password..."
        ngModel
        name="password"
        minlength="6"
        required
        #pwInput="ngModel"
      >
      <mat-error>Should be at least 6 characters long.</mat-error>
      <mat-hint align="end"> {{ pwInput.value?.length || 0}} / 6</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Your Birthdate"
        [matDatepicker]="datepicker"
        [max]="maxDate"
        ngModel
        name="birthdate"
        required
      >
      <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-error *ngIf="emailInput.hasError('required')">Please select your birth date</mat-error>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions</mat-checkbox>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>


